{% extends "base.html" %}
{% block content %}


<h2 class="text-center">Neues Thema erstellen</h2>
<p class="text-center">Wähle den Typ des Themas aus:</p>

<form method="post">
    {% csrf_token %}
    <div class="card-grid">
        <button type="submit" name="choice" value="MCQ" class="type-card">
            <i class="bi bi-ui-checks-grid"></i>
            <h3>MCQ</h3>
            <p>Mehrfachauswahlfragen</p>
        </button>

        <button type="submit" name="choice" value="Textfrage" class="type-card">
            <i class="bi bi-file-richtext"></i>
            <h3>Textfrage</h3>
            <p>Offene Fragen mit manueller Bewertung</p>
        </button>

        <button type="submit" name="choice" value="MCQ + Text" class="type-card">
            <i class="bi bi-ui-checks-grid"></i>
            <i class="bi bi-file-richtext"></i>
            <h3>MCQ + Text</h3>
            <p>Kombination aus MCQ und Textfragen</p>
        </button>
    </div>
</form>
{% endblock %}
